@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
}

.ProgramSection {
  margin: 10px;
  padding: 15px;
}
.ProgramsSec {
  display: flex;
  width: 100%;
  height: 50vh;
  overflow-x: scroll;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.ProgramsTit {
  font-size: 6vw;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.Description {
  font-size: 4vw;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

/* .Card {
  display: flex;
  width: 80%;
  max-width: 338px;
  height: 80%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  position: relative;
} */

.Card1 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/bp.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Card2 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/bt.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Card3 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/mb.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Card4 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/st.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .ImgDescription {
  position: absolute;
  color: white;
  font-size: 30px;
  bottom: 10px;
  left: 100px;
  font-family: 'Poppins', sans-serif;
} */

.Card1:last-child {
  margin-right: 0;
}

.ProgramsSec::-webkit-scrollbar {
  display: none;
}

.Card img {
  border-radius: 20px;
}
