$font-family_1: "Poppins", sans-serif;
$background-color_1: white;
$background-color_2: #908c8c86;
$color_1: white;
$color_2: black;
$color_4: lightgrey;
$color_3: lightcoral;
$color_5: #C8E1BF;

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
  margin: 0;
  padding: 0;
  font-family: $font-family_1;
  box-sizing: border-box;
}
body {
	background-color: #f5f8fa;
}

.NutritionSection{
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-color: $color_5;
  padding: 15% 10%;
}

.NutritionSection img{  
  width: 100%;
  height: 20%;
  border-radius: 15%;
}

.NutritionSection h2 {
  font-family: $font-family_1;
  margin-bottom: 5%;
  font-weight: 600;
}

.NutritionSection h3 {
  font-family: $font-family_1;
  font-size: 1,5rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.NutritionSection button {
  border: none;
  font-family: $font-family_1;
  font-weight: 600;
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5% 15%; 
}
.buttonCenter {
  text-align: center;
}

header {
  background-image: url(./assets/fond-bleu-2.png);
  background-position: 85% 90%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-top: 50px;
    text-transform: uppercase;
    color: $color_1;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  h2 {
    margin-top: 50vh;
    text-transform: uppercase;
    color: $color_1;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  button {
    margin-top: 3vh;
    padding: 8px 50px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: $background-color_1;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
  }
}
.navbar-mobile {
  background-color: $background-color_1;
  position: fixed;
  width: 100%;
  bottom: 0;
  align-items: center;
  border-top: 1px solid lightgray;
  z-index: 999;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 20px;
    a {
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $color_2;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      color: #666666;
    }
  }
  img {
  filter: invert(40%);
  }
}

.navbar-desktop {
  display: none;
}
.navbar-desktop-scrolled {
  display: none;
}

/* ---------------------------------------------------NEWSLETTER----------------------------------------------------------------- */

.sectionNews {
  background-image: url(./assets/meuf2.png);
  background-position: left;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
}
.newsletter {
  border: 1px solid white;
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  background-color: $background-color_2;
  height: fit-content;
  text-align: center;
  backdrop-filter: blur(2px);
  h2 {
    text-transform: uppercase;
    color: $color_1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.393);
  }
  p {
    text-align: start;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    color: $color_1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  input {
    margin-top: 40px;
    height: 30px;
    width: 80%;
    border-radius: 30px;
    border: 1px solid grey;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
  }
  button {
    margin-top: 10px;
    padding: 0 20px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
}

/* ---------------------------------------------------FOOTER----------------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  padding-bottom: 80px;
  margin: 0 20px;
}
.footerLogo {
  font-size: 7px;
  width: 20%;
  text-transform: uppercase;
  text-align: center;
  h3 {
    font-size: 10px;
  }
}
.linkFooter {
  a {
    text-decoration: none;
    color: $color_2;
    font-size: 7px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
}
.social {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  img {
    width: auto;
    height: 38px;
    padding: 7px;
    padding-left: 10px;
  }
}
.body-map__body {
  width: 100%;
  height: calc(100vh - 200px);
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  scroll-snap-align: center;

}
.body-map__muscle {
  color: $color_4;
  &:hover {
    color: $color_3;
  }
}
.mannequin-wrapper {
  background-color: $background-color_1;
  padding-top: 40px;
}
.ProgramSection {
  margin: 10px;
  padding: 15px;
}
.ProgramsSec {
  display: flex;
  width: 100%;
  height: 50vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

.DesktopSwiper {
  display: none;
}
.mannequin-wrapper {
  padding-top: 40px;
}
h2 {
  font-family: $font-family_1;
  font-size: 24px;
  margin: 8px;
}
.ProgramsTit {
  font-size: 6vw;
  font-family: $font-family_1;
  margin-bottom: 30px;
}
.Description {
  font-size: 4vw;
  font-family: $font-family_1;
  margin-bottom: 50px;
}
.Card1 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/bp.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:last-child {
    margin-right: 0;
  }
}
.Card2 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/bt.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Card3 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/mb.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Card4 {
  display: inline-block;
  flex-basis: 100%;
  height: 100%;
  border-radius: 40px;
  scroll-snap-align: center;
  margin-right: 50px;
  background-image: url("./assets/st.png");
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Card {
  img {
    border-radius: 20px;
  }
}

.div-exercise {
  width: 90%;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 16px auto;
  display: flex;
  flex-direction: column;
}

video {
  height: auto;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;

}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}

#exercise-title {
  font-family: $font-family_1 !important ;
  font-style: normal !important ;
  font-weight: 600 !important ;
  font-size: 16px !important ;
  line-height: 24px !important ;
  margin-right: 16px !important;
}
#exercise-description {
  font-family: $font-family_1 !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  text-align: justify !important;

}
.body-part-exercises {
	padding-bottom: 65px;
}

.backarrow {
	height: 32px;
	width: 32px;
  margin-right: 16px;
}

a {
	display: flex;
  text-decoration: none;
  list-style: none;
}

.arrow-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
	margin: 16px auto;
}

.muscle-section-title {
  margin: 32px 16px;
}

.mySwiper {
  margin-bottom: 32px;
}

#steps {
display: flex;
flex-direction: row;
 p{
  width: 90%;
 }
 span {
  width: 24px;
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
 }
}

.subscription-card {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 32px auto;
  padding: 16px;
  &:first-of-type {
    margin-top: 40px;
  }
  .subscription-price {
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
margin-bottom: 16px;
  }
  .subscription-save {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

}

.subscription-cards {
  width: 90%;
  margin: 16px auto;
}

.black-button {
  all: unset; 
  background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
color: white;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 250px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
margin: 32px auto 8px auto;
}