$color_1: lightgrey;
$color_2: lightcoral;
$background-color_1: lightgray;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #f5f8fa;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F5F8FA;

}

.body-map__body {
	width: 100%;
	height: 85vh;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	scroll-snap-align: center;
}
.body-map__muscle {
	color: $color_1;
	&:hover {
		color: $color_2;
	}
}
img {
	width: 100px;
}
.mannequin-wrapper {
	background-color: $background-color_1;
}
.ProgramSection {
	margin: 10px;
	padding: 15px;
}
.ProgramsSec {
	display: flex;
	width: 100%;
	height: 50vh;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	white-space: nowrap;
	&::-webkit-scrollbar {
		display: none;
	}
}

.DesktopSwiper {
	display: none;
}

h2 {
	font-family: 'Poppins' ;
	font-size: 24px;
	margin: 8px;
}

.mannequin-wrapper {
	padding-top: 40px;
}
.ProgramsTit {
	font-size: 6vw;
	font-family: $font-family_1;
	margin-bottom: 30px;
}
.Description {
	font-size: 4vw;
	font-family: $font-family_1;
	margin-bottom: 50px;
}
.Card1 {
	display: inline-block;
	flex-basis: 100%;
	height: 100%;
	border-radius: 40px;
	scroll-snap-align: center;
	margin-right: 50px;
	background-image: url("./assets/bp.png");
	flex-shrink: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&:last-child {
		margin-right: 0;
	}
}
.Card2 {
	display: inline-block;
	flex-basis: 100%;
	height: 100%;
	border-radius: 40px;
	scroll-snap-align: center;
	margin-right: 50px;
	background-image: url("./assets/bt.png");
	flex-shrink: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.Card3 {
	display: inline-block;
	flex-basis: 100%;
	height: 100%;
	border-radius: 40px;
	scroll-snap-align: center;
	margin-right: 50px;
	background-image: url("./assets/mb.png");
	flex-shrink: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.Card4 {
	display: inline-block;
	flex-basis: 100%;
	height: 100%;
	border-radius: 40px;
	scroll-snap-align: center;
	margin-right: 50px;
	background-image: url("./assets/st.png");
	flex-shrink: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.Card {
	img {
		border-radius: 20px;
	}
}

.div-exercise {
	width: 90%;
	background-color: white;
	border-radius: 16px;
	padding: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 16px auto;
	display: flex;
	flex-direction: column;

}

video {
	height: auto;
	width: 100%;
	border-radius: 16px;
}

.accordion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#exercise-title {
	font-family:$font-family_1 !important ;
	font-style: normal !important ;
font-weight: 600 !important ;
font-size: 16px !important ;
line-height: 24px !important ;
text-align: justify !important ;
}
#exercise-description {
	font-family: 'Poppins' !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 24px !important;
	text-align: justify !important;
}

