@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

header {
    background-image: url(./assets/fond-bleu-2.png);
    background-position: 80% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
   
}
header h1 {
   padding-top: 50px;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
}
header h2 {
    margin-top: 420px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.navbar {
    background-color: white;
    position: sticky;
    margin-top: 65px;
    height: 70px;
    align-items: center;
   
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
nav ul a {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    text-decoration: none;
    
}

button {
  margin-top: 70px;
  padding: 10px 50px;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
  box-shadow: 0px 5px 0px rgba(24, 24, 24, 0.343);
  border: none;
}