@media screen and (min-width: 1024px) {
    .mySwiper {
        display: none; 
    }

    .DesktopSwiper {
        display: flex;
        justify-content: center;
         
    }

    #mannequin-front {
        justify-content: flex-end;
        width: 48%;
        margin-right: 2%;
    }
    #mannequin-back {
        justify-content: flex-start;
        width: 48%;
        margin-left: 2%;
    }
    .body-part-exercises{
        padding: 70px 24px 24px 24px;
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
        }
        .arrow-title {
            margin-bottom: 24px;
        }
    }

    video {
        width: 40%;
    }
    #exercise-description {
        width: 60%;
        display: flex ;
        flex-direction: column;
        justify-content: center ;
        padding: 0 32px 0 32px;
    }
    #exercise-content {
        display: flex ;
        flex-direction: row ;
        align-items: center;
    }

/* ------------------------ Partie nutrition ---------------------*/
.swipper{
    display: none;
}

.desk{
    display: inline-flex
}

.NutritionSection{
    display: block; 
    width: 100%;
    padding: 5%;
}

.NutritionSection img{
    width: 100%;
    padding: 5%;
}

.NutritionSection h2{
    margin: 2%;
}

.NutritionSection button{
    margin: 7% 0 0 50%;
    transform: translateX(-50%);
    padding: 1em;
    font-size: 16px;
}

.Nutrition-banner{
    border-radius: 0px !important;
    width: 100% !important; 
    display: initial;
}

.NutritionGalery {
    padding: 5% 10%;
}


.NutritionPage{
    padding: 65px 0%;
    .arrow-title {
        display: none;
    }
}

.NutritionPage img{  
    width: 80%;
    height: 20%;
    border-radius: 15%;
}

.NutritionPage a{
    display: flex;
    justify-content: center;
}

.NutritionPage h2{
    display: none;
}

.NutritionPage h3{
    padding-top: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Ingredient{
    width: 45%;
    padding: 2%;
    margin: 0 0 0 20%; 
}

.NutritionID {
    margin: 0 20%;
}

.NutritionID img{  
    width: 30%;
    border-radius: 15%;
    padding: 0;
    margin: 0 0% 0 5%;
}

.Instruction {
    margin: 0 5%;
    text-align: center;
}


    .subscription-cards {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100vh;
        .arrow-title {
            width: 100%;
            display: flex;
            align-items: center;
        }
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            margin-left: 16px;
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 48px;
            text-align: justify;
        }
        div {
            width: 50%;
        };
    }

    .navbar-mobile {
        display: none;
    }
    header h1 {
        display: none;
    }
    .navbar-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        transition: background-color 0.2s ease-in-out;
        padding: 8px 48px 8px 48px;

        p{
            font-weight: 600;
            font-style: normal;
            line-height: 48px;
            font-size: 28px;
            color: white;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            li {
                list-style: none;
                text-decoration: none;
                margin-left: 48px;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 36px;
                transition: color 0.2s ease-in-out;
                color: white;
                a {
                    text-decoration: none;
                    transition: color 0.2s ease-in-out;
                    color: white;
                }
            }
        }
    }
    .navbar-desktop-scrolled {
        background-color: white;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid lightgray;
        box-shadow:0px -3px 10px 1px rgba(93,93,93,0.36);
            li {
                transition: color 0.3s ease-in-out;
                color: black !important;
                a {
                    transition: color 0.3s ease-in-out;
                    color: black !important;
                }
            }
            p{
                transition: color 0.3s ease-in-out;
                color: black !important;
            }
        }
    
    header {
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 54px;
        }
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 96px;
            margin: 0 0 54px 32px;
            text-align: center;

        }
        a {
            text-decoration: none;
            color: black;

        }
    }

    .filters {
        display: grid;
        grid-template-rows: repeat(2, 50px);
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr;
        grid-row-gap: 8px;
        grid-column-gap: 8px;
    }

    .filters-open {
        height: 100%;
    }

    .filter-search {
        display: flex;
        justify-content: space-between;
        .searchbar {
          width: 18vw;
        }
      .btn-filter{ 
        width: 80px;
    }}

    .dashboard-container {
        padding-top: 70px;
        width: 90%;
        margin: auto;
        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
        }
        #swiper-dash {
            display: none;
        }
        .gallery-dash {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 24px 0px;
        }
        .imgprog {
            border-radius: 24px;
            width: 20%;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            margin: 16px;
          }
          .emptyprog {
            width: 20%;
            background-color: rgba(82, 110, 118, 0.194);
            margin: 16px;
            border-radius: 24px;
            position: relative;
            &::after {
                content: " ";
                position: absolute;
                display: block;
                background-color: #fff;
                height: 10px;
                margin-top: -5px;
                top: 50%;
                left: 40%;
                right: 40%;
                z-index: 9;
              }
              &::before {
                content: " ";
                position: absolute;
                display: block;
                background-color: #fff;
                width: 10px;
                margin-left: -5px;
                left: 50%;
                top: 40%;
                bottom: 40%;
                z-index: 9;
              }
          }
          .selected {
            transition: all 0.3s ease-in-out;
            transform: scale(1.1);
          }
    }

    .popup-week {
        width: 20%;
        top: 80px;
        left: 79%;
        transform: translateY(0);
        transform: translateX(200px);
    }

    .alert {
        transform: translateX(0px);

    }
}
