@media screen and (min-width: 1024px) {
    .mySwiper {
        display: none; 
    }

    .DesktopSwiper {
        display: flex;
        justify-content: center;
         
    }

    h2 {
        font-size: 40px;
        margin-left: 32px;
    }
    #mannequin-front {
        justify-content: flex-end;
        width: 48%;
        margin-right: 2%;
    }
    #mannequin-back {
        justify-content: flex-start;
        width: 48%;
        margin-left: 2%;
    }
    nav {
        top: 0;
        position: static;
        

    }
    nav img {
        display: none;
    }
    nav li a {
        font-size: 20px;
        color: red;
    }
    header h1 {
        text-align: left;
        padding-left: 50px;
    }
    header h2 {
        margin-right: 600px;
        margin-top: 100px;
        font-size: 60px;
        line-height: 60px;
        word-spacing: 10px;
    }
    header button {
        margin-right: 570px;
        margin-top: 100px;
    }
    .ProgramSection h2 {
        font-size: 30px;
    }
  
    .newsletter {
        width: 30%;
        margin-left: 200px;
        margin-top: 50px;
        height: max-content;
        h2 {
            font-size: 25px;
        }
    }
    .sectionNews {
        background-image: url(./assets/meuf2.png);
        background-repeat: no-repeat;
    }
    footer {
      
    }
    .footerLogo {
        margin-left: 20px;
    }
}