@media screen and (min-width: 1024px) {
    .mySwiper {
        display: none; 
    }

    .DesktopSwiper {
        display: flex;
        justify-content: center;
         
    }

    h2 {
        font-size: 40px;
        margin-left: 32px;
    }
    #mannequin-front {
        justify-content: flex-end;
        width: 48%;
        margin-right: 2%;
    }
    #mannequin-back {
        justify-content: flex-start;
        width: 48%;
        margin-left: 2%;
    }
    video {
        width: 40%;
    }
    #exercise-description {
        width: 60%;
        display: flex ;
        flex-direction: column;
        justify-content: center ;
        padding: 0 32px 0 32px;
    }
    #exercise-content {
        display: flex ;
        flex-direction: row ;
        align-items: center;
    }
}