@media screen and (min-width: 1024px) {
    .mySwiper {
        display: none;
    }

    .DesktopSwiper {
        display: flex;
        justify-content: center;
    }

    h2 {
        font-size: 40px;
        margin-left: 32px;
    }
    #mannequin-front {
        justify-content: flex-end;
        width: 48%;
        margin-right: 2%;
    }
    #mannequin-back {
        justify-content: flex-start;
        width: 48%;
        margin-left: 2%;
    }

    .body-part-exercises{
        padding-top: 70px;
    }
    video {
        width: 40%;
    }
    #exercise-description {
        width: 60%;
        display: flex ;
        flex-direction: column;
        justify-content: center ;
        padding: 0 32px 0 32px;
    }
    #exercise-content {
        display: flex ;
        flex-direction: row ;
        align-items: center;
    }

    .subscription-cards {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100vh;
        div {
            width: 50%
        };
    }

    .navbar-mobile {
        display: none;
    }
    header h1 {
        display: none;
    }
    .navbar-desktop {
        display: initial;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        padding: 16px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            li {
                all:unset;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: white;
                &:first-of-type {
                    font-size: 32px;

                }
            }
        }
    }
    .navbar-desktop-scrolled {
        display: initial;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        padding: 16px;
        background-color: white;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            li {
                all:unset;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: black;
                &:first-of-type {
                    font-size: 32px;

                }
            }
        }
    }
}