@media screen and (min-width: 1024px) {
  /* ---------------------------------------------------EXERCISE HOME AND EXERCISE SEC----------------------------------------------------------------- */

  .mySwiper {
    display: none;
  }

  .DesktopSwiper {
    display: flex;
    justify-content: center;
  }

  .muscle-section-title {
    font-size: 40px;
    margin-left: 32px;
  }
  #mannequin-front {
    justify-content: flex-end;
    width: 48%;
    margin-right: 2%;
  }
  #mannequin-back {
    justify-content: flex-start;
    width: 48%;
    margin-left: 2%;
  }
  video {
    width: 40%;
  }
  #exercise-description {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px 0 32px;
  }
  #exercise-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* ---------------------------------------------------SUSCRIPTION SEC----------------------------------------------------------------- */

  .subscription-cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 16px;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 48px;
      text-align: justify;
    }
    div {
      width: 50%;
    }
  }

  /* ---------------------------------------------------NAVBAR AND HOME ----------------------------------------------------------------- */

  .navbar-mobile {
    display: none;
  }
  header h1 {
    display: none;
  }
  .navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
    padding: 8px 48px 8px 48px;

    p {
      font-family: "Poppins";
      font-weight: 600;
      font-style: normal;
      line-height: 48px;
      font-size: 28px;
      color: white;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li {
        list-style: none;
        text-decoration: none;
        margin-left: 48px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        transition: color 0.2s ease-in-out;
        color: white;
        a {
          text-decoration: none;
          transition: color 0.2s ease-in-out;
          color: white;
        }
      }
    }
  }
  .navbar-desktop-scrolled {
    transition: background-color 0.3s ease-in-out;
    background-color: white;
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 1px solid lightgray;
    transition: box-shadow 0.3s ease-in-out;

    box-shadow: 0px -3px 10px 1px rgba(93, 93, 93, 0.36);
    li {
      transition: color 0.3s ease-in-out;
      color: black !important;
      a {
        transition: color 0.3s ease-in-out;
        color: black !important;
      }
    }
    p {
      transition: color 0.3s ease-in-out;
      color: black !important;
    }
  }

  header {
    align-items: flex-start;
    justify-content: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 54px;
    }
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 96px;
      margin: 0 0 54px 32px;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }

  /* ---------------------------------------------------PROG HOME AND PROG SEC----------------------------------------------------------------- */

  .ProgramsSec {
    display: none;
    height: 0px;
  }

  .ProgramSection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 150rem;
    margin: 40px;
  }
  .programtext,
  .Description,
  #suscriptionprogsec {
    font-size: 1.3vw;
    grid-column: 1 / span 4;
  }
  #suscriptionprogsec {
    display: none;
  }

  .descriptiondesk {
    font-size: 1.3vw;
    display: block;
    .black-button {
      margin: 45px 10px;
    }
  }
  #descriptiondesk {
    font-size: 0;
  }
  .program {
    .arrow-title {
      padding-top: 80px;
    }
    .startprog {
      padding-top: 80px;
      .black-button {
        margin: 20px 10px;
      }
    }
  }

  .programdesc {
    margin: 0 100px;
    p{
      font-size: 16px;
    }
    h2 {
      font-size: 24px;
    }
  }
  .programimage {
    width: 90%;
    margin: 0 100px;
    .progpic {
      margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    img {
      width: 100%;
      border-radius: 30px;
    }
  }

  .headerprog {
    display: flex;
    margin: 0 50px;
  }

  .imagegalery {
    display: grid;
    grid-column: 6 / span 7;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1rem;

    .cardbp1 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 4;
      // background-image: url("./assets/bp1.svg") ;
      // background-position: left ;
      background-repeat: no-repeat;
      grid-auto-columns: min-content;
      background-size: contain;
      display: inline-block;
      transition: transform 0.5s;
    }
    .cardbp1:hover {
      transform: scale(1.2);
    }
    .cardbw1 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 4;
      // background-image: url("./assets/bw1.svg") ;
      // background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transition: transform 0.5s;
    }
    .cardbw1:hover {
      transform: scale(1.2);
    }

    .cardmb1 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 4;
      // background-image: url("./assets/mb1.svg") ;
      // background-position: center ;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transition: transform 0.5s;
    }
    .cardmb1:hover {
      transform: scale(1.2);
    }
    .cardfb1 {
      grid-column: 1 / span 1;
      grid-row: 6 / span 4;
      // background-image: url("./assets/fb1.svg") ;
      // background-position: right ;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transition: transform 0.5s;
    }
    .cardfb1:hover {
      transform: scale(1.2);
    }
    .cardsm1 {
      grid-column: 2 / span 1;
      grid-row: 7 / span 4;
      // background-image: url("./assets/sm1lock.svg") ;
      // background-position: center ;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transition: transform 0.5s;
    }
    .cardsm1:hover {
      transform: scale(1.2);
    }
    .cardct1 {
      grid-column: 3 / span 1;
      grid-row: 5 / span 4;
      // background-image: url("./assets/ct1lock.svg") ;
      // background-position:left ;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      transition: transform 0.5s;
    }
    .cardct1:hover {
      transform: scale(1.2);
    }
  }

  .ProgramsTit {
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
  }

  /* ---------------------------------------------------LOADER DESKTOP----------------------------------------------------------------- */

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row; /* set direction to row */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.75s, visibility 0.75s;
    backdrop-filter: blur(10px);

    .dot-container {
      display: flex;
      flex-direction: row; /* set direction to row */
      justify-content: center;
      align-items: center;
    }
  }

  .dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6eb8ff;
    box-shadow: 0 0 20px #6eb8ff, 0 0 40px #6eb8ff, 0 0 60px #6eb8ff,
      0 0 80px #6eb8ff, 0 0 100px #6eb8ff, 0 0 120px #6eb8ff, 0 0 140px #6eb8ff,
      0 0 160px #6eb8ff, 0 0 180px #6eb8ff, 0 0 200px #6eb8ff, 0 0 220px #6eb8ff,
      0 0 240px #6eb8ff;
    animation: spin 1s linear infinite;
    margin: 0 10px;
  }

  .dot:nth-child(2) {
    animation-delay: -0.4s;
  }

  .dot:nth-child(3) {
    animation-delay: -0.8s;
  }

  .loader-hidden {
    opacity: 0;
    visibility: hidden;
  }

  @keyframes spin {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}
